body {
    margin: 0;
}
section {
    overflow: auto;
    border-bottom: black 1px solid;
    padding-bottom: 10px;
}
pre {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(0,0,0,0.2)
}
label {
    font-weight: bold;
}
.header {
    text-align: center;
}

.subsection { 
    padding-left: 10px;
}
.subsection label {
    font-weight: normal;
}

.section-1 {background: #fbb4ae;}
.section-2 {background: #b3cde3;}
.section-3 {background: #ccebc5;}
.section-4 {background: #decbe4;}
.section-5 {background: #fed9a6;}